<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hello homie boy</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2 style="color: red;"><%= title2 %></h2>
  </body>
</html>