<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>firstwebshop</title>
</head>

<body>
    <h1>Ola Olaaaaaa <%= username %>!</h1>
    <% for (let nr = 0; nr < 1000; nr++) { %>
    <%= nr %>
    <% } %>

    <% if (true) { %>
    Tutiiiii
    <% } %>


    <% if (true) { %>
    Ez most latszik
    <% } %>

</body>

</html>